.vscode
__pycache__

@Notes
Profiles

# ignore everything in plugins folder, except these files
Plugins/*
!Plugins/examples/
!Plugins/device_decorators.py
!Plugins/helo_trim.py
!Plugins/imports.py
!Plugins/test_jg_extensions.py
!Plugins/volume_axes.py
!Plugins/volume_axis.py
!Plugins/zoom_slider.py

config.json
*.log